<launch>
	<node name="keyPublisher" pkg="beginner_tutorial" type="keyPublisher.py" output="screen" launch-prefix="gnome-terminal --command"/>
	<node name="calculator" pkg="beginner_tutorial" type="kuroki_sub" output="screen" launch-prefix="gnome-terminal --command" />
	<node name="plotter" pkg="beginner_tutorial" type="play.py" output="screen" launch-prefix="gnome-terminal --command" />
</launch> 
